@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 120px;
  padding: 10px 20px;
  font-size: 28px;
  border: none;
  border-radius: 10px;
  background-color: #ffd6dc88;
}

.loader-img {
  display: inline-block;
  width: 400px;
  height: 400px;
  background: url('../../../public/assets/images/loading-spinner.svg')
    center/cover no-repeat;
  animation: spin infinite 2.5s linear;
  opacity: 0.75;
}
