.button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--soft-pink);
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--regular-pink);
  }
  &:active {
    background-color: var(--strong-pink);
  }

  &--google-sign-in {
    background-color: white;
    &:hover {
      background-color: rgb(240, 240, 240);
    }
    &:active {
      background-color: rgb(214, 214, 214);
    }
  }

  &--add-to-cart {
    width: 155px;
    height: 45px;
    padding: 14px 28px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.84);
    position: absolute;
    top: calc((100% - 45px) / 2);
    left: calc((100% - 155px) / 2);
    // transition: transform 0.1s ease;
    &:hover {
      background-color: rgba(255, 255, 255);
      // transform: scale(1.1);
      // transition: transform 0.25s ease;
    }
    &:active {
      background-color: rgb(169, 169, 169);
    }
  }
}

.google-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background: url('../../assets/icons/google-icon.svg') center/cover no-repeat;
}
