.cart-dropdown-container {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 350px;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--regular-pink);
  border-radius: 8px;
  cursor: default;
}

.cart-dropdown-close-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/icons/close-icon.svg') center/cover no-repeat;
}

.cart-dropdown-body {
  overflow: auto;
  padding-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.cart-dropdown-empty-msg {
  position: relative;
  top: calc(145px);
}
