.auth-bg {
  display: inline-block;
  position: absolute;
  top: 170px;
  right: 50px;
  @media (min-width: 1366px) {
    right: calc(50vw - 640px);
  }
  z-index: -1;
  width: 700px;
  height: 700px;
  background: url('../../../public/assets/images/sign-in-bg.svg') center/cover
    no-repeat;
  filter: brightness(0) saturate(100%) invert(37%) sepia(71%) saturate(346%)
    hue-rotate(244deg) brightness(103%) contrast(101%);
  opacity: 0.15;

  &--sign-up {
    right: 0px;
    @media (min-width: 1366px) {
      right: calc(50vw - 690px);
    }
    background-image: url('../../../public/assets/images/sign-up-bg.svg');
    width: 800px;
    height: 800px;
  }
}

.sign-in-title {
  width: 420px;
  margin-top: 30px;
  font-size: 32px;
  font-weight: 500;
}

.sign-in-action {
  font-weight: 300;
  margin-top: 30px;
}

.auth-methods {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.auth-methods__line {
  width: 85px;
  border: none;
  border-top: 1px solid rgb(202, 202, 202);
  margin-bottom: 1px;
}

.auth-methods__o {
  margin: 0 15px;
}
