.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin: 20px 0;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.checkout-image-description-container {
  display: flex;
  justify-content: flex-start;
}

.checkout-image {
  margin-right: 20px;
}

.checkout-item-title {
  font-weight: 500;
}

.checkout-item-price {
  font-weight: 500;
}

.checkout-select {
  margin-left: 15px;
  padding: 5px 8px;
  border: 1px solid var(--regular-pink);
  border-radius: 5px;
}

.checkout-delete-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url('../../assets/icons/delete-icon.svg') center/cover no-repeat;
  cursor: pointer;
  &:hover {
    filter: invert(14%) sepia(74%) saturate(7240%) hue-rotate(1deg)
      brightness(97%) contrast(117%);
  }
}
