.categories-container {
  display: grid;
  gap: 20px;
  margin: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (min-width: 620px) {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  @media (min-width: 1180px) {
    grid-template-columns: repeat(3, 344px);
    justify-content: center;
  }
}

.category-container {
  // position: relative;
  width: 100%;
  img {
    width: 100%;
  }
}

.category-body-container {
  position: relative;
  display: inline-block;
  top: -145px;
  left: 120px;
  background-color: white;
  padding: 20px 10px;
  border: 0px;
  border-radius: 5px;
}
